body {
    margin: 0;
    display: flex; /*  transforms into a block-level flex container, and its direct children become flex items for alignment, spacing, and ordering. */
    justify-content: center;
    align-items: center; /* horizontal aligment*/
    height: 100vh; /* 100% viewport height & width*/
    background-color: lightgray; 
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px; /* calculator width*/
    overflow: hidden; /* hides any content that extends beyond the boundaries of the calculator*/
}

#display {
    padding: 10px;
    font-size: 5rem; /*5 x 16px*/
    text-align: right; /* aligns the calculation result to the right*/
    border: 10px;
    background-color: grey; 
    color: white; /* text result color is white*/
}

#keys {
    display: grid; /* Grid Layout container for arranging content or grid items*/
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns 1 fraction takes equal amount of available space within the grid container*/
    gap: 10px; /* horizontal/vertical gap between keys*/
    padding: 25px;
}


button {
    width: 100px; /* make buttons circles*/
    height: 100px; /* make buttons circles*/
    border-radius: 50px; /* make buttons circles*/
    border: none;  /* To remove border*/
    background-color: hsl(0, 0%, 30%); /* color wheel (Hue 0-360 0r 120g 240b, Saturation 0 shade-100% pure, Lightness 0-100% 0b 50n 100w) , background color*/
    color: white; /* button text color is white*/
    font-size: 3rem;   /* 3*16=48px*/
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: gray; /* changes button color intensity when it's hovered*/
}

.operator-button {
    background-color: orange; /* operators button color*/
}

.operator-button:hover {
    background-color: yellow; /* changes operator button color intensity when it's hovered*/
}
